.list {
    &__plan {
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding-bottom: 40px;
    }

    &__container {
        overflow-x: hidden;
        margin-bottom: 40px;

    }
}

@media (min-width:768px) {
    .list {
        &__plan {

            justify-content: center;
        }
    }


}