#home {
    padding-inline: 18px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .img__blur__bottom,
    .img__blur__top {
        position: absolute;
        height: 250px;

    }

    .img__blur__bottom {
        bottom: -14%;
        left: 0;

    }

    .img__blur__top {
        top: -14px;
        right: 0;
    }

    .card {
        justify-content: space-between;
        position: relative;
        z-index: 2;

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__sup {
                font-family: 'BR Sonoma';
                height: 20px;
                padding-left: 8px;
                padding-right: 8px;
                padding-block: 4px;
                padding-bottom: 2px;
                background: linear-gradient(86deg, #00F4E2 0%, #00FF7F 100%);
                border-radius: 8px;
                font-weight: 700;
                width: 170px;
            }

            &__img {
                width: 138px;
                height: 160px;
                border-radius: 16px;
            }

            &__title {
                width: 188px;
                color: black;
                font-size: 32px;
                font-family: 'BR Sonoma';
                font-weight: 700;
                line-height: 36px;
                margin: 0;
                margin-top: 16px;

            }

            &__description {
                margin: 0 0px 16px 0px;
                font-family: 'BR Sonoma';
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.5px;
                text-align: left;
                display: none;
            }

            .form__desktop {
                display: none;
            }
        }
    }

    .description {
        font-family: 'BR Sonoma';
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-align: left;

    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .container {
            margin-top: 8px;
            ;
            border: 1px solid #5E6488;
            border-radius: 8px;
        }

        .link {
            font-family: "BR Sonoma";
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.1px;
            color: #03050F;

        }

        &__select {
            background-color: transparent;
        }

        .button {
            margin: auto;
            margin-top: 32px;
            margin-bottom: 80px;
            ;
            width: 336px;
            height: 56px;
            padding: 18px, 40px, 18px, 40px;
            border-radius: 40px;
            gap: 8px;
            font-family: "BR Sonoma";
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.5px;
            text-align: center;

            &.primary {
                color: #fff;
                background-color: #03050F;
            }
        }

    }

    @media (min-width: 768px) {
        .card {
            flex-direction: row-reverse;
            justify-content: flex-end;
            flex-wrap: wrap;

            &__body {
                &__img {
                    object-fit: cover;
                    width: 480px;
                    height: 560px;
                }

                &__title {
                    width: 100%;
                    max-width: 352px;
                    margin-bottom: 16px;
                }

                &__description {
                    display: block;
                }
            }

            .form__desktop {
                display: block;
            }
        }

        .description {
            display: none;
        }

        .form__mobile {
            display: none;
        }
    }
}

@media (min-width:768px) {
    #home {
        height: calc(100vh - 168px);

        .img__blur__bottom {
            bottom: 84px;
            left: 0;
            height: 80%;
        }

        .img__blur__top {
            top: 0;
            right: 0;
            height: 80%;
        }
    }
}