$black:#141938;

body{

    background-color: #FAFBFF;
}
#quote{
    padding-inline: 24px;
    .title{        
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
        text-align: center;
        
    }
    .card{
        box-shadow: 0px 1px 24px 0px #AEACF340;
        background: #FFFFFF;
        height:  308px;
        padding: 24px 32px 24px 32px;
        border-radius: 24px;
        gap: 16px;
        &__title{
            font-family: Lato;
            font-size: 10px;
            font-weight: 900;
            line-height: 16px;
            letter-spacing: 0.8px;            
        }
        &__header{
            margin-top: 8px;
            padding-bottom: 12px;
            border-bottom:1px solid #D7DBF5 ;
            display: flex;
            gap: 8px;
            &__img{                
                width: 24px;
                height: 24px;

            }
            &__title{                
                font-family: Lato;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: -0.2px;


            }
        }
        &__body{
            &__title{                
                font-family: Lato;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.2px;                
                color:$black;
            }
            &__info{                
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.1px;                
                color:$black;
            }
        }
    }
}