$black: #141938;

body {
    background-color: #fafbff;
}


#quote {
    padding-inline: 24px;



    .quote__intro {
        width: 336px;
        text-align: left;
        margin-inline: 20px;

        &-title {
            margin: 0;
            font-family: Lato;
            font-size: 28px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -0.2px;
        }

        &-subtitle {
            margin: 0;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }

    .quote__container {
        padding-inline: 0;
    }

    .quote__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 32px;
        margin-top: 32px;
    }

    @media (min-width: 768px) {
        .quote {
            &__intro {
                text-align: center;

                &-title {
                    font-size: 40px;
                    line-height: 48px;
                }
            }

            &__list {
                flex-direction: row;
            }
        }
    }
}

.steps {
    display: flex;
    justify-content: center;
    gap: 16px;
    background: #EDEFFC;
    width: 100vw;

    .step {
        display: flex;
        align-items: center;
        gap: 12px;

        &__counter {
            font-family: Lato;

            border: 1px solid #7981B2;
            width: 28px;
            height: 24px;
            text-align: center;
            border-radius: 16px;
            padding-top: 4px;
            color: #7981B2;

            &-active {
                background: #4F4FFF;
                color: white;
            }
        }

        &__text {
            margin: 0;
            font-family: Lato;
            font-size: 16px;
            line-height: 24px;
            color: #7981B2;

            &-active {
                color: #141938;
                font-size: 16px;
                font-weight: 700;
            }


        }
    }
}